[user]
        name = Ramazan Yapparov
	email = ryapparov@provectus.com

# include config file for work repos
# the .gitconfig file should include name and email configs
# (or others if needed)
# can be replaced with git config --local user.email "email@example.com"


#[includeIf "gitdir:/s/java/"]
#	path = /s/java/.gitconfig
[alias]
	co = checkout
	br = branch
	st = status
	cm = commit -m
	mg = merge
	rh = reset --hard
[push]
	default = simple
[core]
	autocrlf = input
	editor = nvim
[http]
	sslVerify = false
[credential]
	helper = store
[init]
	defaultBranch = main
