let mapleader=","
:set surround
set ideajoin
set commentary
set multiple-cursors

nnoremap L $
vnoremap L $
onoremap L $
nnoremap H ^
vnoremap H ^
onoremap H ^
nnoremap ; :
inoremap jkl <Esc>
inoremap jj <Esc>
nnoremap U <C-r>


" ,/ for to remove highlights after serach
nmap <silent> <leader>/ :nohlsearch<CR>
" enter in normal mode to create blank line
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

" Copy and paste to system clipboard with leader prefix (,y;,p)
vnoremap  <leader>y  "+y
nnoremap  <leader>Y  "+yg_
nnoremap  <leader>y  "+y
nnoremap  <leader>yy  "+yy
nnoremap <leader>p "+p
nnoremap <leader>P "+P
vnoremap <leader>p "+p
vnoremap <leader>P "+P
vnoremap <C-c> "+y
inoremap <C-v> <Esc>"+pa

nnoremap x "_x
nnoremap d "_d
nnoremap D "_D
vnoremap d "_d

nnoremap <leader>d ""d
nnoremap <leader>D ""D
vnoremap <leader>d ""d

vnoremap <leader>p "_d"+P
vnoremap p "_dP

set ignorecase
set smartcase
set incsearch
set hlsearch
set backspace=indent,eol,start


nnoremap <leader>e :action SearchEverywhere<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>s :action FileStructurePopup<CR>
nnoremap <leader>n :action GotoClass<CR>
nnoremap <leader>g :action Generate<CR>
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>b :action Back<CR>
nnoremap <leader>B :action Forward<CR>

nnoremap <leader>i :action ImplementMethods<CR>


nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gb :action JumpToLastChange<CR>

" nnoremap U :action FindUsages<CR>
nnoremap <leader>r :action EditorPopupMenu.Run<CR>
nnoremap <leader>rn :action RenameElement<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>
nnoremap <leader>O :action OptimizeImports<CR>
nnoremap <leader>o :action OverrideMethods<CR>

nnoremap <D-CR> :action ShowIntentionActions<CR>

nnoremap <C-j> :action NextTab<CR>
nnoremap <C-k> :action PreviousTab<CR>

nnoremap <leader>k :action ChangesView.ToggleCommitUi<CR>
nnoremap <leader>x :action CloseContent<CR>

