let mapleader=","
:set surround
set ideajoin
set commentary
set multiple-cursors
set NERDTree
map <C-e>   :NERDTreeToggle<CR>

nnoremap L $
vnoremap L $
onoremap L $
nnoremap H ^
vnoremap H ^
onoremap H ^
nnoremap ; :
inoremap jkl <Esc>
inoremap jj <Esc>
nnoremap U <C-r>

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" ,/ for to remove highlights after serach
nmap <silent> <leader>/ :nohlsearch<CR>
" enter in normal mode to create blank line
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

" Copy and paste to system clipboard with leader prefix (,y;,p)
vnoremap  <leader>y  "+y
nnoremap  <leader>Y  "+yg_
nnoremap  <leader>y  "+y
nnoremap  <leader>yy  "+yy
nnoremap <leader>p "+p
nnoremap <leader>P "+P
vnoremap <leader>p "+p
vnoremap <leader>P "+P
vnoremap <C-c> "+y
inoremap <C-v> <Esc>"+pa

nnoremap x "_x
nnoremap d "_d
nnoremap D "_D
vnoremap d "_d
nnoremap c "_c
nnoremap C "_C
vnoremap c "_c

nnoremap <leader>d ""d
nnoremap <leader>D ""D
vnoremap <leader>d ""d

vnoremap <leader>p "_d"+P
vnoremap p "_dP

set ignorecase
set smartcase
set incsearch
set hlsearch
set backspace=indent,eol,start


nnoremap s ys
nmap <leader>e <Action>(SearchEverywhere)
nmap <leader>f <Action>(FindInPath)
nmap <leader>s <Action>(FileStructurePopup)
nmap <leader>n <Action>(GotoClass)
nmap <leader>g <Action>(Generate)
nmap <leader>a <Action>(GotoAction)

nmap <leader>i <Action>(ImplementMethods)


nmap gd <Action>(GotoDeclaration)
nmap gs <Action>(GotoSuperMethod)
nmap gi <Action>(GotoImplementation)
nmap gb <Action>(JumpToLastChange)

" nnoremap U :action FindUsages<CR>
nmap <leader>r <Action>(EditorPopupMenu.Run)
nmap <leader>rn <Action>(RenameElement)

nmap == <Action>(ReformatCode)
vmap == <Action>(ReformatCode)
nmap <leader>O <Action>(OptimizeImports)
nmap <leader>o <Action>(OverrideMethods)

nmap <D-CR> <Action>(ShowIntentionActions)

nmap <C-j> <Action>(NextTab)
nmap <C-k> <Action>(PreviousTab)

nmap <leader>k <Action>(ChangesView.ToggleCommitUi)
nmap <leader>x <Action>(CloseContent)
nmap <C-P> <Action>(ParameterInfo)

nmap <leader>t <Action>(ActivateTerminalToolWindow)
